:root{
  font-family: Verdana;
  font-weight: bold;
  font-style: bold;
  font-size: 24px;

  overflow-x: hidden;
}

label {
  color: lightgray;
  font-size: 72px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vm;
  color: white;
  text-shadow: 4px 4px 4px black;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  letter-spacing: 3px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2 / 8;
  padding: 1rem;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
}

blockquote {
  grid-column: 2 / 8;
  padding: 1rem;
}

h1, h2 {
  color: lightgrey;
}